@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?63551040');
  src: url('../font/fontello.eot?63551040#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?63551040') format('woff2'),
       url('../font/fontello.woff?63551040') format('woff'),
       url('../font/fontello.ttf?63551040') format('truetype'),
       url('../font/fontello.svg?63551040#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?63551040#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-user:before { content: '\e800'; } /* '' */
.icon-users:before { content: '\e801'; } /* '' */
.icon-eye:before { content: '\e802'; } /* '' */
.icon-chat:before { content: '\e803'; } /* '' */
.icon-attention:before { content: '\e804'; } /* '' */
.icon-login:before { content: '\e805'; } /* '' */
.icon-logout:before { content: '\e806'; } /* '' */
.icon-clock:before { content: '\e807'; } /* '' */
.icon-volume-up:before { content: '\e808'; } /* '' */
.icon-block:before { content: '\e809'; } /* '' */
.icon-arrows-cw:before { content: '\e80a'; } /* '' */
.icon-search:before { content: '\e80b'; } /* '' */
.icon-picture:before { content: '\e80c'; } /* '' */
.icon-edit:before { content: '\e80d'; } /* '' */
.icon-pencil:before { content: '\e80e'; } /* '' */
.icon-calendar:before { content: '\e80f'; } /* '' */
.icon-off:before { content: '\e810'; } /* '' */
.icon-floppy:before { content: '\e811'; } /* '' */
.icon-ok:before { content: '\e812'; } /* '' */
.icon-cancel:before { content: '\e813'; } /* '' */
.icon-cancel-circled:before { content: '\e814'; } /* '' */
.icon-lock:before { content: '\e815'; } /* '' */
.icon-lock-open:before { content: '\e816'; } /* '' */
.icon-download:before { content: '\e817'; } /* '' */
.icon-reply:before { content: '\e818'; } /* '' */
.icon-forward:before { content: '\e819'; } /* '' */
.icon-at:before { content: '\e81a'; } /* '' */
.icon-cancel-circled-1:before { content: '\e81b'; } /* '' */
.icon-ok-1:before { content: '\e81c'; } /* '' */
.icon-cancel-1:before { content: '\e81d'; } /* '' */
.icon-cw-circled:before { content: '\e81e'; } /* '' */
.icon-ok-2:before { content: '\e81f'; } /* '' */
.icon-cancel-2:before { content: '\e820'; } /* '' */
.icon-cw-circle:before { content: '\e821'; } /* '' */
.icon-plus:before { content: '\e822'; } /* '' */
.icon-minus:before { content: '\e823'; } /* '' */
.icon-location:before { content: '\e824'; } /* '' */
.icon-folder:before { content: '\e825'; } /* '' */
.icon-folder-open:before { content: '\e826'; } /* '' */
.icon-cog:before { content: '\e827'; } /* '' */
.icon-down-open:before { content: '\e828'; } /* '' */
.icon-left-open:before { content: '\e829'; } /* '' */
.icon-right-open:before { content: '\e82a'; } /* '' */
.icon-up-open:before { content: '\e82b'; } /* '' */
.icon-shuffle:before { content: '\e82c'; } /* '' */
.icon-phone:before { content: '\e82d'; } /* '' */
.icon-chart-bar:before { content: '\e82e'; } /* '' */
.icon-upload-cloud:before { content: '\e82f'; } /* '' */
.icon-picture-1:before { content: '\e830'; } /* '' */
.icon-user-1:before { content: '\e831'; } /* '' */
.icon-user-add:before { content: '\e832'; } /* '' */
.icon-upload:before { content: '\e833'; } /* '' */
.icon-download-1:before { content: '\e834'; } /* '' */
.icon-eye-off:before { content: '\e835'; } /* '' */
.icon-camera:before { content: '\e836'; } /* '' */
.icon-star-filled:before { content: '\e837'; } /* '' */
.icon-home:before { content: '\e838'; } /* '' */
.icon-plus-1:before { content: '\e839'; } /* '' */
.icon-minus-1:before { content: '\e83a'; } /* '' */
.icon-menu-2:before { content: '\e83b'; } /* '' */
.icon-bullhorn:before { content: '\e83c'; } /* '' */
.icon-clock-alt:before { content: '\e83d'; } /* '' */
.icon-grid:before { content: '\e83e'; } /* '' */
.icon-plus-2:before { content: '\e83f'; } /* '' */
.icon-cancel-3:before { content: '\e840'; } /* '' */
.icon-ok-3:before { content: '\e841'; } /* '' */
.icon-eye-off-1:before { content: '\e842'; } /* '' */
.icon-eye-1:before { content: '\e843'; } /* '' */
.icon-download-alt:before { content: '\e844'; } /* '' */
.icon-location-1:before { content: '\e845'; } /* '' */
.icon-phone-1:before { content: '\e846'; } /* '' */
.icon-cog-1:before { content: '\e847'; } /* '' */
.icon-down-open-2:before { content: '\e848'; } /* '' */
.icon-left-open-2:before { content: '\e849'; } /* '' */
.icon-right-open-2:before { content: '\e84a'; } /* '' */
.icon-up-open-2:before { content: '\e84b'; } /* '' */
.icon-search-1:before { content: '\e84c'; } /* '' */
.icon-cancel-circle:before { content: '\e84d'; } /* '' */
.icon-minus-circle:before { content: '\e84e'; } /* '' */
.icon-plus-circle:before { content: '\e84f'; } /* '' */
.icon-ok-circle:before { content: '\e850'; } /* '' */
.icon-reply-2:before { content: '\e851'; } /* '' */
.icon-reply-all:before { content: '\e852'; } /* '' */
.icon-forward-1:before { content: '\e853'; } /* '' */
.icon-clock-1:before { content: '\e854'; } /* '' */
.icon-block-1:before { content: '\e855'; } /* '' */
.icon-down-open-1:before { content: '\f004'; } /* '' */
.icon-up-open-1:before { content: '\f005'; } /* '' */
.icon-right-open-1:before { content: '\f006'; } /* '' */
.icon-left-open-1:before { content: '\f007'; } /* '' */
.icon-menu:before { content: '\f008'; } /* '' */
.icon-th-thumb:before { content: '\f00a'; } /* '' */
.icon-reply-1:before { content: '\f02a'; } /* '' */
.icon-login-1:before { content: '\f02c'; } /* '' */
.icon-logout-1:before { content: '\f02d'; } /* '' */
.icon-lock-open-alt:before { content: '\f075'; } /* '' */
.icon-menu-1:before { content: '\f0c9'; } /* '' */
.icon-table:before { content: '\f0ce'; } /* '' */
.icon-sort:before { content: '\f0dc'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-gauge:before { content: '\f0e4'; } /* '' */
.icon-lightbulb:before { content: '\f0eb'; } /* '' */
.icon-exchange:before { content: '\f0ec'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-angle-double-left:before { content: '\f100'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */
.icon-attention-alt:before { content: '\f12a'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-angle-circled-up:before { content: '\f139'; } /* '' */
.icon-angle-circled-down:before { content: '\f13a'; } /* '' */
.icon-pencil-squared:before { content: '\f14b'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-birthday:before { content: '\f1fd'; } /* '' */
.icon-venus:before { content: '\f221'; } /* '' */
.icon-mars:before { content: '\f222'; } /* '' */
.icon-server:before { content: '\f233'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */
.icon-envelope-open:before { content: '\f2b6'; } /* '' */
.icon-address-book:before { content: '\f2b9'; } /* '' */
.icon-address-card:before { content: '\f2bb'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-id-badge:before { content: '\f2c1'; } /* '' */
.icon-window-maximize:before { content: '\f2d0'; } /* '' */
.icon-window-minimize:before { content: '\f2d1'; } /* '' */
.icon-window-restore:before { content: '\f2d2'; } /* '' */
.icon-window-close:before { content: '\f2d3'; } /* '' */
.icon-calendar-1:before { content: '\f4c5'; } /* '' */
.icon-lock-alt:before { content: '\f510'; } /* '' */
.icon-lock-1:before { content: '\f512'; } /* '' */
.icon-lock-open-1:before { content: '\f513'; } /* '' */