.print-body{
	width: 8.5in;
	position: relative;
	/*border: 1px solid red;*/
	padding-right: 0 !important;
	padding-left: 0 !important;
}


#print_content *{
	font-size: 14px;
	line-height: 16px;
	color: #000;
}

.print-body h3{
	font-weight: bold;
	font-size: 18px !important;
}

.print-body h4{
	margin-bottom: 8px !important;
}

.logo{
    width: 100%;
    padding-bottom: 20px;
    background: url(../img/print.png) no-repeat;
    height: 115px;
    background-size: contain;
}

.print-body[data-form='fecalysis']{
	height: 5.5in;
}

.print-body[data-form='urinalysis'],
.print-body[data-form='hematology'],
.print-body[data-form='roentgenological_report'],
.print-body[data-form='miscellaneous']{
	height: 6.5in;
}

.print-body[data-form='laboratory_results'],
.print-body[data-form='ecg_report']{
	height: 11in;
}

.print-body[data-form='hematology'] h3,
.print-body[data-form='hematology'] h4{
	margin: 3px !important;
	margin-bottom: 3px !important;
}

.print-body[data-form='hematology'] .table td{
	padding: 0 2px;
}

.print-body .list-results{
	margin: 0 auto;
    width: 500px;
    display: block;
}

.print-body .indent{
	display: inline-block;
}

.print-body .indent-45{
	width: 45px;
}
.print-body .indent-50{
	width: 50px;
}
.print-body .indent-60{
	width: 60px;
}
.print-body .indent-70{
	width: 70px;
}
.print-body .indent-80{
	width: 80px;
}
.print-body .indent-90{
	width: 90px;
}
.print-body .indent-100{
	width: 100px;
}
.print-body .indent-110{
	width: 100px;
}
.print-body .indent-115{
	width: 115px;
}
.print-body .indent-140{
	width: 140px;
}


/******************************/

.row{
	display: block;
}

.row > .col{
	float: left;
	margin-bottom: 3px;
}

.row > .col-12{
	width: 100%
}

.row > .col-11{
	width: 91.666%
}

.row > .col-10{
	width: 83.333%;
}

.row > .col-9{
	width: 75%;
}

.row > .col-8{
	width: 66.666%;
}

.row > .col-6{
	width: 50%;
}
.row > .col-5{
	width: 41.666%;
}
.row > .col-4{
	width: 33.333%;
}
.row > .col-3{
	width: 25%;
}

.row > .col-2{
	width: 16.666%;
}

.row > .col-1{
	width: 8.333%;
}

.pull-left{
	float: left;
}

.pull-right{
	float: right;
}

.text-center{
	text-align: center;
}

.text-left{
	text-align: left;
}

.text-right{
	text-align: right;
}

.column-left, .column-right{
	width: 49%;
}

.clearfix{
	clear: both;
}


.table{
	width: 100%;
	border-collapse: collapse;
}

.table td.col-4{
	width: 33.333%;
}

/*******************************/


















/*.table{
	border-top: 1px solid #000;
}

.table label{
	margin-bottom: 0 !important;
}

.table-tab{
	padding-left: 20px;
}

.table-row{
	margin-left: 0 !important;
	margin-right: 0 !important;
	border-bottom: 1px solid #000;	
}

.table-row > div{
	border-left: 1px solid #000;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	padding-top: 3px;
	padding-bottom: 3px;
}
.table-row > div:last-child{
	border-right: 1px solid #000;
}*/
.content{
	margin: 20px 0;
}

.footer{
	position: absolute;
	bottom: 20px;
	width: 100%;
}

.footer .pull-left,
.footer .pull-right{
	width: 300px;
}

.ecg-footer .pull-left{
	margin-top: -80px;
}

.roent-footer .pull-left{
	margin-top: -70px;
}

.ecg-footer .pull-right > span{
	border-bottom: 1px solid #000;
	min-width: 150px;
	display: inline-block;
}

.ecg-footer .pull-right > label{
	display: inline-block;
}

.ecg-title, .roent-title{
    font-size: 16px !important;
    font-weight: bold;
    border-top: 2px solid #000;
    padding: 10px 0;
}

.ecg-opt{
	border-bottom: 1px solid #000;
	padding-bottom: 2px;
}

.ecg-opt label{
	border-bottom: 1px solid #fff;
}

.ecg-opt .input-value{
	min-width: 150px;
}

.ecg-row .input-label, .roent-row .input-label{
	margin-bottom: -1px;
	border-bottom: 1px solid #fff;
}

.input-label {
/*    border-bottom: 1px solid rgb(255, 255, 255);
    margin-bottom: -1px;
    position: relative;
    margin-left: -1px;
    padding-left: 1px;
*/}

.checkbox-group{
	padding: 2px 0;
}

.input-wrp{
    border-bottom: 1px solid #000;
}

.input-value {
    display: inline-block;
    font-size: 12px;
    text-indent: 5px;
}

h4.input-value{
	border: none;
	display: block;
}


	.checkbox_icon{
		position: absolute;
		left: 2px;
		top: 5px;
	}

	.checkbox_icon.hide{
		display: none;
	}

	.checkbox-group{
		position: relative;
	}
@media print {
	.logo{
		width: 100%;
		padding-bottom: 20px;
		background: url(../img/print.png) no-repeat;
		height: 115px;
		background-size: contain;
	}

	.checkbox_icon{
		position: absolute;
		left: 2px;
		top: 5px;
	}

	.checkbox_icon.hide{
		display: none;
	}
	

	.checkbox-group{
		position: relative;
	}

    body {
        -webkit-print-color-adjust: exact; /*Chrome, Safari */
        color-adjust: exact; /*Firefox*/
        margin: 40px 0;
        color: rgb(84, 84, 84);
    }

	table {
	    border-collapse: collapse;
	    width: 100%;
	}

	table, td, th {
	    border: 1px solid grey;
	    padding: 5px;
	}
    
	thead .col-code,
	thead .col-level,
	thead .col-section{
		width: 100px;
	}
	
	@page {margin: 0 auto}
	html {margin: 0 auto}
}

