html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, body, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	background: #f9f9f9;
	font-size: 13px;
}

ol, ul, li {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, 
blockquote:after,
q:before, 
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

*:focus {
    outline: none !important;
}

*,
*:after, 
*:before
{
	box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
}

*
{
	font-size: 100%;
	letter-spacing: 1px;
	text-rendering: optimizeLegibility !important;
		-webkit-font-smoothing: antialiased !important;
}

html {
	color: #333333;	
	font-family: sans-serif;
	line-height: 1.15;
	overflow-x: hidden;
	overflow-y: scroll;	
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

audio,
canvas,
video {
	display: inline-block;
	max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	/* clear: both; */
	font-weight: 700;
}

h1 {
	font-size: 45px;
	line-height: 47px;
	font-weight: bold;
}

h2 {
	font-size: 35px;
	line-height: 37px;
	font-weight: bold;
}

h3 {
	font-size: 28px;
	line-height: 30px;
	font-weight: bold;
}

h4 {
	font-size: 24px;
	line-height: 26px;
	font-weight: bold;
}

h5 {
	font-size: 16px;
	line-height: 1.3333333333;
	font-weight: bold;
}

h6 {
	font-size: 14px;
	line-height: 1.5;
	font-weight: bold;
}

address {
	font-style: italic;
	margin-bottom: 24px;
}

abbr[title] {
	border-bottom: 1px dotted #2b2b2b;
	cursor: help;
}

b,
strong {
	font-weight: 700;
}

cite,
dfn,
em,
i {
	font-style: italic;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

p {
	line-height: 22px;
	margin-top: 22px;
    word-wrap: break-word;
}

a:active,
a:hover {
  outline-width: 0;
}

code,
kbd,
tt,
var,
samp,
pre {
	font-size: 13px;
	hyphens: none;
		-webkit-hyphens: none;
		-moz-hyphens: none;
		-ms-hyphens: none;
}

pre {
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	margin-bottom: 24px;
	max-width: 100%;
	overflow: auto;
	padding: 12px;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

blockquote,
q {
	hyphens: none;
		-webkit-hyphens: none;
		-moz-hyphens: none;
		-ms-hyphens: none;
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

blockquote {
	color: #777;
	font-size: 14px;
	font-style: italic;
	font-weight: 300;
	line-height: 1.3;
	margin-bottom: 24px;
}

blockquote cite,
blockquote small {
	color: #2b2b2b;
	font-size: 13px;
	font-weight: 400;
	line-height: 1.5;
}

blockquote em,
blockquote i,
blockquote cite {
	font-style: normal;
}

blockquote strong,
blockquote b {
	font-weight: 400;
}

small {
	font-size: smaller;
}

big {
	font-size: 125%;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin: 0 0 0 20px;
}

img {
	-ms-interpolation-mode: bicubic;
	border: 0;
	vertical-align: middle;
}

figure {
	margin: 0;
}

fieldset {
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin: 0 0 24px;
	padding: 11px 12px 0;
}

legend {
	white-space: normal;
}

button,
input,
select,
textarea {
	box-sizing:  border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	font-size: 100%;
	margin: 0;
	max-width: 100%;
	padding: 0;
	vertical-align: baseline;
}

button,
input {
	line-height: normal;
}

input,
textarea {
	background-image: -webkit-linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,0)); /* Removing the inner shadow, rounded corners on iOS inputs */
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
input[disabled] {
	cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
	padding: 0;
}

input[type="search"] {
	-webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

table,
th,
td {
	border: 1px solid rgba(0, 0, 0, 0.1);
}

table {
	border-collapse: separate;
	border-spacing: 0;
	border-width: 1px 0 0 1px;
	margin-bottom: 24px;
	width: 100%;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
}

th {
	border-width: 0 1px 1px 0;
	font-weight: bold;
}

td {
	border-width: 0 1px 1px 0;
}

del {
	color: #767676;
}

hr {
	background-color: rgba(0, 0, 0, 0.1);
	border: 0;
	height: 1px;
	margin-bottom: 23px;
}