@font-face {
    font-family: 'decker';
    src: local('☺'),
		 url('../font/decker-webfont.woff2') format('woff2'),
         url('../font/decker-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'slicker';
    src: local('☺'),
		 url('../font/slicker-webfont.woff2') format('woff2'),
         url('../font/slicker-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*
{
	font-family: 'decker', Arial, Helvetica, sans-serif !important;
}

html,
body
{
	height: 100%;
}

a
{
	text-decoration: none;
}

canvas 
{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

::selection 
{
	color: #fff; 
	background: #004a88;
}

::-moz-selection 
{
	color: #fff; 
	background: #004a88;
}

.clearfix:before, 
.clearfix:after
{
	content: "";
	display: table;
}

.clearfix:after
{
	clear: both;
}

.alignleft
{
	float: left;
}

.alignright
{
	float: right;
}

.hide
{
	display: none;
}

.sb-container,
.container,
.popup-container,
.inline-blk,
header img,
header h1,
.pagination li
{
	display: inline-block;
	float: left;
}
.lcase{
	text-transform: lowercase !important;
}
.blk
{
	display: block;
}

.input-field
{
	position: relative;
}

.input-field i
{
	color: #888;
	font-size: 16px;
}

.tooltip 
{
    bottom: -30px;
    left: 0;
	margin: 0 auto;
    opacity: 0;
    position: absolute;
	right: 0;
    text-align: center;
    transition: opacity 0.5s;
    visibility: hidden;
    width: auto;
    z-index: 1;
}

.tooltip::after 
{
    content: "";
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #4b826a transparent;
    left: 50%;
    margin: 0 auto;
    position: absolute;
    top: -19px;
}

.tooltip span
{
	background-color: #4b826a;
	border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
    color: #fff;
	padding: 8px 12px;
}

.input-field input:focus + .tooltip
{
    opacity: 1;
    visibility: visible;
}

.input-field input + .tooltip.active,
.input-field select + .tooltip.active,
.input-field textarea + .tooltip.active
{
    opacity: 1;
    visibility: visible;	
}

/***LOADER***/
.loader
{
	background: rgba(0, 0, 0, 0.5);
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 11;
}

.loading 
{
	border: 0.25rem solid rgba(255, 255, 255, 0.2);
	border-radius: 50%;
	border-top-color: white;
		animation: spin 1s infinite linear;
			-webkit-animation: spin 1s infinite linear;
	height: 24px;
	width: 24px;
}

@-webkit-keyframes spin 
{
  0% {
   transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
  }
}
@keyframes spin 
{
  0% {
	transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
  }
}
/***END OF LOADER***/

/***ALERTS***/
.sample
{
	background: url("../img/sample.jpg") no-repeat;
}

.sample .pop-up-container
{
	padding: 20px;
}

.pop-up-alert
{
	display: inline-block;
	margin: 10px;
}

.pop-up-alert .iconStat
{
    display: block;
	font-size: 40px;
    margin-bottom: 30px;
    text-align: center;
}

.pop-up-alert .icon-help{
	font-size: 65px;
	color: #233e63;
}

.pop-up-alert .icon-ok-2
{
	color: #518ad3;
}

.pop-up-alert .icon-cancel-2
{
	color: #d9534f;
}

.pop-up-alert .icon-attention-alt
{
	color: #e6bb25;
}

.sample .success
{
	top: 38px;
}

.sample .failed
{
	top: 76px;
}

.sample .warning
{
	top: 114px;
}

.alert-top
{
	padding: 8px 20px;
	/*position: absolute;*/
	width: 100%;
	z-index: 10;
}

.alert-top *
{
	color: #fff;
}

.alert-top.default
{
	background-color: #33c1de;
}

.alert-top.success
{
	background-color: #46B06F;
}

.alert-top.failed
{
	background-color: #e64848;
}

.alert-top.warning
{
	background-color: #e6bb25;
}

.alert-top span
{
	cursor: pointer;
	font-size: 16px;
	position: absolute;
	right: -5px;
	top: 2px;
}

.at-wrap
{
	position: relative;
}

.pop-alert p
{
	margin-top: 0;
}

.pop-up-alert
{
	background: #fff;
	padding: 50px 100px;
	position: relative;
}

.pop-up-alert *
{
	text-align: center;
}

.pop-up-alert p
{
	font-size: 16px;
	margin-bottom: 30px;
}

.pop-up-btns input
{
	color: #fff;
	display: inline-block;
	margin: 0 8px;
	padding: 10px;
	width: 80px !important;
}

.red-btn
{    
    background-color: #d9534f;
    border: 1px solid #d43f3a;
}

.red-btn:hover
{
	background-color: #c9302c;
    border-color: #ac2925;
}

.red-btn:active
{
	background-color: #a22421;
    border-color: #316cb7;
}

.green-btn
{    
    background-color: #518ad3;
    border: 1px solid #337ab7;
}

.green-btn:hover
{
	background-color: #337ab7;
    border-color: #518ad3;
}

.green-btn:active
{
	background-color: #337ab7;
    border-color: #337ab7;
}

.border-design
{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,7db9e8+100 */
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #7db9e8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */	bottom: 0;
	height: 3px;
	left: 0;
	position: absolute;
	width: 100%;
}

.pop-up-container
{
	background: rgba(0, 0, 0, 0.5);
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 10;
}

.sample .pop-up-container
{
	position: static;
}
/***END OF ALERTS***/

/***LOGIN***/
.loginPage
{
	background: url('../img/login-bg.jpg') no-repeat center;
}

.v-mid
{
	align-items: center;
	display: flex;
	justify-content: center;
}

.v-mid.login-form
{
	height: 100%;
	margin: 0 auto;
	width: 650px;
}

.login-form form
{
	background: rgba(255,255,255,1);
	border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
	box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.50);
		-webkit-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.50);
		-moz-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.50);
	padding: 80px 50px;
}

.login-form form img
{
	display: block;
	height: auto;
	margin: 0 auto 30px;
	width: 110px;
}

.login-form form input
{
	background: none;
	border-bottom: 1px solid #888;
	border-left: none;
	border-right: none;
	border-top: none;
	font-size: 18px;
	line-height: 45px;
	margin-top: 30px;
	padding: 0 45px;
	width: 480px;
}

.login-form form .input-field i
{
	bottom: 15px;
	font-size: 18px;
	left: 10px;
	position: absolute;
}

.login-form form input::-webkit-input-placeholder
{
	color: #888;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.login-form form input::-moz-placeholder
{
	color: #888;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.login-form form input:-ms-input-placeholder
{
	color: #888;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.login-form form input:-moz-placeholder
{
	color: #888;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.login-form form input[name="submit"]
{
	background: url('../img/login-btn.png') no-repeat;
	border: none;
	display: block;
	height: 64px;
	margin: 70px auto 0;
	padding: 0;
	text-indent: -9999px;
	width: 64px;
}
/***END OF LOGIN***/

header h1:before,
.sb-container nav li:before
{	
	content: "";
	position: absolute;
}

header
{
	background-color: #fff;
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
		-webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
		-moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
	height: 45px;
	padding: 5px 10px;
	position: absolute;
	width: 100%;
	z-index: 10;
}

header img
{
	height: 35px;
	width: 50px;
}

header h1
{
	font-size: 14px;
	line-height: 40px;
	margin-left: 10px;
	padding-left: 10px;
	position: relative;
}

header h1:before
{
	border-left: 1px solid #ddd;
	height: 16px;
	left: 0;
	top: 11px;
}

section
{
	/* height: calc(100% - 56px); */
	height: 100%;
	padding-top: 45px;
}

nav *,
.container *,
.popup-container
{
	line-height: 32px;
}

.sb-container
{
	background-color: #233e63;
	height: 100%;
	width: 240px;
}

.sb-container *
{
	color: #fff;
}

.sb-container h3
{
	border-bottom: 1px solid #35578a;
	font-size: 12px;
	letter-spacing: 5px;
	margin-bottom: 10px;
	padding: 10px;
	text-transform: uppercase;
}

.sb-container nav li
{
	cursor: pointer;
	padding: 0;
	position: relative;
}

.sb-container nav li a
{
	display: block;
	margin: 0 15px;
	padding: 3px 0 3px 28px;
}

.sb-container nav li:before
{
	left: 15px;
	top: 12px;
}

.sb-container nav li.chart:before
{
	content: "\e82e";
}

.sb-container nav li.pass:before
{
	content: "\f510";
}

.sb-container nav li.profile:before
{
	content: "\f2bd";
}

.sb-container nav li.students:before
{
	content: "\f2b9";
}

.sb-container nav li.acnts:before
{
	content: "\e801";
}

.sb-container nav li.yrlvl:before
{
	content: "\e80f";
}

.sb-container nav li.icon-doc-text-inv:before
{
	content: "\f15c";
}

.sb-container nav li.icon-clock:before
{
	content: "\e807";
}

.sb-container nav li.icon-pencil:before{
	content: "\e80e";
}

.sb-container nav li.icon-volume-up:before
{
	content: "\e808";
}

.sb-container nav li:hover,
.sb-container nav li.active
{
	background-color: #3c5e8c;
}

.sb-container nav li.active,
.sb-container nav li.active a
{
	cursor: default;
}

.sb-container nav li ul
{
	background-color: #35578a;
	margin-left: 0;
}

.sb-container nav li ul li
{
	font-weight: normal;
	padding-left: 50px;
}

.sb-container nav li ul li.active,
.sb-container nav li.active > ul.submenu2 li
{
	background: #283952;
}

.sb-container nav li ul li ul li
{
	padding-left: 15px;
}

.sb-container nav li.icon-angle-right:before,
.sb-container nav li.icon-minus:before
{
	content: "-";
	left: 30px;
	top: 8px;
}

.sb-container nav li.icon-angle-right:before
{
	left: 27px;
}

.sb-container nav li.active.icon-angle-right:before
{
	content: "\f107";
	left: 30px;
	top: 8px;
}

.sb-container nav li.active.icon-minus:before
{
	content: "\f105";
	left: 30px;
	top: 8px;
}

.sb-container nav li.active.icon-minus:before
{
	left: 30px;
}

.sb-container nav ul.submenu2 li.active.icon-angle-right:before
{
	left: 30px;
}

.container
{
	height: 100%;
	overflow: auto;
	width: calc(100% - 240px);
}

.popup-container{
	width: 100%;
}

.inline-blk label,
.inline-blk input
{
	width: 100%;
}

.container form .blk,
.popup-container form .blk
{
	padding: 10px 10px 0;
}

.container form .blk.buttons,
.popup-container form .blk.buttons
{
	border-top: 1px solid #eee;
	margin-top: 20px;
	padding-top: 20px;
}

.container form .blk.buttons{
	margin-bottom: 20px;
}

.grn-btn,
i.grn-btn,
.container form input.grn-btn,
.popup-container form input.grn-btn
{
	background: linear-gradient(to bottom, rgb(35, 62, 99) 0%,rgb(51, 102, 171) 100%);
	border: none;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 2px;
	padding: 5px 10px;
	text-transform: uppercase;


}

.container form .blk.buttons .grn-btn:active,
.popup-container form .blk.buttons .grn-btn:active
{
	background: #283952;
}

.red-btn,
i.red-btn,
.container form input.red-btn,
.popup-container form input.red-btn
{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ea1e17+0,cf0404+100 */
	background: #ea1e17; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VhMWUxNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjZjA0MDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #ea1e17 0%, #cf0404 100%); /* FF3.6-15 */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ea1e17), color-stop(100%,#cf0404)); /* Chrome4-9,Safari4-5 */
	background: -webkit-linear-gradient(top, #ea1e17 0%,#cf0404 100%); /* Chrome10-25,Safari5.1-6 */
	background: -o-linear-gradient(top, #ea1e17 0%,#cf0404 100%); /* Opera 11.10-11.50 */
	background: -ms-linear-gradient(top, #ea1e17 0%,#cf0404 100%); /* IE10 preview */
	background: linear-gradient(to bottom, #ea1e17 0%,#cf0404 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea1e17', endColorstr='#cf0404',GradientType=0 ); /* IE6-8 */
	border: none;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 2px;
	padding: 5px 10px;
	text-transform: uppercase;
}

.container form .blk.buttons div.inline-blk + div.inline-blk,
.popup-container form .blk.buttons div.inline-blk + div.inline-blk
{
	padding: 0 40px 0 0;
}

.w180
{
	width: 180px;
}

.w100p
{
	width: 100%;
}

.container form .blk .inline-blk,
.popup-container form .blk .inline-blk
{
	padding: 0 20px;
	position: relative;
}

.container *,
.popup-container *
{
	line-height: 30px;
}

.container form label,
.popup-container form label
{
	display: block;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.container form input,
.container form textarea,
.container form select,
.popup-container form input,
.popup-container form textarea,
.popup-container form select,
.pagination-text input
{
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
	padding: 0 10px;
}

.container .content-header,
.popup-container .content-header,
.top-actions
{
	border-bottom: 1px solid #e4e4e4;
	padding: 15px 30px;
	position: relative;
}

.container .content-header h2,
.popup-container .content-header h2
{
	font-size: 26px;
}

.container .tooltip,
.container .tooltip *,
.popup-container .tooltip,
.popup-container .tooltip *
{
	line-height: normal;
}

.container .tooltip::after,
.popup-container .tooltip::after
{
	top: -18px;
}

.col-1
{
	width: 100%;
}

.col-2
{
	width: 50%;
}

.col-3
{
	width: 33.33333333333333%;
}

.col-4
{
	width: 25%;
}

.col-5
{
	width: 20%;
}

.col-5-S
{
	width: 10%;
}

.col-5-M
{
	width: 15%;
}

.col-5-L
{
	width: 75%;
}

div input,
div textarea,
div select
{
	width: 100%;
}

textarea
{
	height: 50px;
}

select
{
	height: 34px;
	line-height: 32px;
}

form span.req
{
	color: #ED4747;
	font-size: 12px;
	position: absolute;
	right: 20px;
	top: 0;
}

.container form .error input,
.container form .error textarea,
.container form .error select,
.popup-container form .error input,
.popup-container form .error textarea,
.popup-container form .error select
{
	border: 1px solid #ED4747;
}

.top-actions
{
	margin-bottom: 20px;
	padding: 0 0 20px 0;
}

.top-actions .top-btn
{
	padding-top: 20px !important;
}

.pagination li
{
	display: inline-block;
	margin-left: 6px;
}

.pagination li:first-child
{
	margin-left: 0;
}

.container .blk.table table,
.popup-container .blk.table table
{
	margin-bottom: 15px;
}

.container .blk.table,
.popup-container .blk.table,
.pagination
{
	padding: 0 30px;
}

.container .blk.table th,
.container .blk.table td,
.popup-container .blk.table th,
.popup-container .blk.table td
{
	padding: 0 12px;
}

thead
{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
	background: rgb(255,255,255); /* Old bcolsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6-15 */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome4-9,Safari4-5 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10-11.50 */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10 preview */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-8 */
}

tr:nth-child(even)
{
	background: #eee;
}

.pagination i
{
	border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
	display: inline-block;
	padding:9px 6px;
	width: 30px;
}

.pagination-text
{
	margin-left: 10px !important;
	margin-right: 5px;
}

.pagination-text input
{
	width: 50px;
	text-align: center;
}

.hAddBtn, .hDelBtn, .hImpBtn, .hExpBtn
{
	border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
	display: inline-block;
    height: 40px;
    position: absolute;
    right: 80px;
    top: 10px;
    width: 40px;
}



.hAddBtn i, .hDelBtn i, .hImpBtn i, .hExpBtn i
{
	color: #fff;
	display: block;
	line-height: normal;
	padding: 7px 0;
	text-align: center;
}

.hAddBtn,
.hImpBtn{
	right: 30px;
}

.view-info label + div,
.addId div
{
	background-color: #f3f3f3;
	padding: 0 10px;
}

.hImpBtn > input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.form-sec
{
	/*border-bottom: 1px solid #eee;*/
	border-top: 1px solid #e4e4e4;
	margin-top: 20px;
}

.form-sec h3
{
	font-size: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
    background: #e4e4e4;
    padding: 0 7px;	
}

.form-sec .txtarea
{
	padding-bottom: 20px !important;
}

.view-students
{
	margin: 20px auto 0;
}

.view-students a
{
	display: block;
	padding: 5px 20px;
	text-align: center;
}



/***********************
Temp CSS
**********************/
.custom-pop-up-alert .pop-up-alert{
	padding: 30px 50px;	
}

.popup-container *{
	text-align: left;
}

.popup-container .tooltip{
	text-align: center;
}



/***********************
Scheduler
**********************/
.scheduler th{
	text-align: center;
}

.scheduler tbody td[data-day]{
	position: relative;
	padding: 0 !important;	
}

.scheduler tbody td[data-time]{
	height: 80px;
	width: 100px;
	vertical-align: middle;
}

.scheduler tbody td[data-time] .column{
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: blue;
}

.scheduler tbody .item-wrp{
	position: absolute;
	width: 100%;
	left: 0;
}

.scheduler tbody .item-wrp:hover .overlay{
	opacity: 1;
}

.scheduler tbody .overlay {
    background: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: ease-in 0.2s;
    text-align: right;
    padding-right: 2px;
}

.scheduler tbody .overlay .edit_schedule{
	border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.scheduler tbody .overlay i{
	color: #fff;
}

.scheduler tbody .item{
	padding: 13px;
}

.scheduler tbody .item *{
	color: #fff;
	line-height: 18px;
}

.table-header{
	margin-bottom: 20px;
	font-size: 18px;
}

.ui-timepicker *,
.ui-timepicker *:after, 
.ui-timepicker *:before{
	box-sizing: content-box !important;
}

tbody .list-item:hover{
	background: rgb(64, 140, 89);
	transition: ease-in 0.1s;
	cursor: pointer;
}

tbody .list-item:hover td{
	color: #fff;
	transition: ease-in 0.1s;
}

tbody .load-records,
tbody .no-records{
	text-align: center;
}

thead .col-count{
	width: 20px;
}

thead .col-id{
	width: 120px;
}

thead .col-check{
	width: 45px;
}

thead .col-code,
thead .col-level,
thead .col-section{
	width: 200px;
}

thead .col-adviser{
	width: 300px;
}

thead .col-period{
	width: 200px;
}

table.my-students-grades .col-period{
	width: 170px;
}

thead .editable{
	position: relative;
}

thead .editable > i{
	position: absolute;
	right: 3px;
	font-size: 20px;
	cursor: pointer;
}

thead .editable > i.active,
thead .editable > i:hover{
	color: #269d4d;
}

thead .editable > i.active:before{
	content: "\e811";
}
thead .sortable{
	cursor: pointer;	
	position: relative;
}
thead .sortable.active > i{
	display: inline-block;
}
thead .sortable > i{
	display: none;
	position: absolute;
	right: 3px;
	font-size: 13px;
}
tbody tr:hover{
	background-color: #d2e1f7;
	cursor: pointer;
}
tbody tr.no-records:hover{
	background-color: inherit;
	cursor: default;
}

tbody .input-grade{
	/*text-align: center;*/
	border: none;
	background: none;
}

tbody td[data-period].active{
	background: #d5f1d6;
}

.container .view-grades{
	margin-bottom: 30px;
}

.logout-btn > i{
	font-size: 32px;
	color: #2aa251;
}

/* Color */
.tbl-red{
	color: red;
}

.tbl-green{
	color: green;
}

/* Summernote z-index issue */
.ui-widget.ui-widget-content{
	z-index: 3 !important;
}

/* Efects */
.login-form {
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.text-center{
	text-align: center;
}

.with-tab{
	padding-left: 30px;
}

.checkbox-group input[type='checkbox']{
	width: auto;
}

.page_loader{
	position: fixed;
	z-index: 9999;
	width: 100%;
	height: 100%;
	background-color: #233e63;
	padding: 25% 0;
	font-size: 55px;
	text-align: center;
	vertical-align: middle;
	color: #fff;
}
label > input[type='radio']{
	width: auto;
	display: inline-block;
}